.LoginBody {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;

  .title {
    width: 20vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    position: relative;
    top: -10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vh;
  }

  .btn-confirm {
    border: 1px solid #FFFFFF4D;
    background-color: rgb(53, 53, 53);
    align-self: center;
    width: 268px;
    height: 62px;
    border-radius: 8px;
    margin-top: 120px;
  }



}

