.video-page {
    width: 100vw;
    height: 100vh;
    min-height: 60vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}
.title {
    bottom: 0     !important;
}
.subtitle {
    position: relative;
    bottom: 0;
    font-size: 2vh;
}

.video-player {
    width: 40vw;
    height: 200px;
    min-width: 300px;
    -webkit-user-drag: none;
    user-select: none;
    background-color: red;
}

.question {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.options {
    font-size: 18px;
    display: flex;
    gap: 2vw;
}
.input-radio {
    width: 2vw;   /* 设置单选框的宽度 */
    height: 20px;  /* 设置单选框的高度 */
    margin-right: 5px;  /* 让标签与单选框之间有一点间距 */
    position: relative;
    bottom: -0.2vw;
}

.btn-submit {
    border: 1px solid #FFFFFF4D;
    background-color: rgb(53, 53, 53);
    align-self: center;
    width: 200px;
    height: 40px;
    border-radius: 8px;
}
