*{
  margin: 0;
  padding: 0;
}
  body {
    display: flex;
    background-color: black;
    overscroll-behavior:none;
  }
  #root {
    width: 100vw;
    height: 100vh;
  }
  .moon-container {
    z-index: -999;
    display: flex;
    justify-content: center;
    align-items: center;
    .moon {
      z-index: -999;
      position: fixed;
      bottom: 0;
      min-width: max(120vh, 100vw); // 宽度动态调整
      height: 50vh; // 高度固定
      opacity: 0.4; // 初始完全可见
      pointer-events: none;
    }
  }
