.grid {
  display: grid;
  grid-template-columns: repeat(3, 18vh);  // 三列
  grid-template-rows: repeat(3, 18vh);     // 三行
  gap: 2vh;
}

.cell {
  background-color: rgba(255,255,255,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.content-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .state-0, .state-1, .state-2 {
    font-size: 1.2vh; /* 文字和勾、叉图标的统一大小 */
  }

  .state-1 {
    color: white; /* 勾的颜色 */
    font-size: 3.6vh;
  }
}

